<!-- Расширяем базовй шаблон -->
{% extends 'wiki/base.html' %}
<!-- Блок контента -->
{% block content %}
<section class="feed mt-2">
    <div class="container mb-2">
        <div class="row">
            {% for post in post %}
            {% autoescape on %}
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2">
                <div class="list-group mb-1 box-hight">
                    <a href="{{ post.get_absolute_url }}"
                        class="nav-link-allfeed ">{{post.title|truncatechars:50}}</a>
                </div>
            </div>
            {% endautoescape %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}